h1{
  text-align: center;
  color: white;
}

body{
  background-color: #1c1c1c;
}

canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.start{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
