h1{
  text-align: center;
  color: white;
}

body{
  background-color: #1c1c1c;
}

canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

button{
  background-color: darkgrey;
  width: 10%;
  height: 10%;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(66, 66, 66);

}

.hidden{
  display: none;
}

.start{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
